main {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	padding: 20px;
}

.text h1 {
	font-size: 5rem;	
}

.text h3 {
	font-size: 1.5rem;
}

.text p {
	margin-bottom: 30px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	padding-left: 0;
	flex: 1;
}

.text .button {
	width: 200px;
	text-align: center;
}

pre {
	flex: 0 0 50%;
	background: var(--background-secondary);
	padding: 10px;
	border-radius: 8px;
}

code {
	font-size: 1.2rem;
	font-family: monospace;
}

code .user {
	color: #16c60c;
}

code .path {
	color: #3e79ff;
}

.cursor {
	animation: blink 1s step-end infinite;
}

@keyframes blink {
	50% { opacity: 0; }
}