.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	/* REPLACE THIS */
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://preview.redd.it/cinnamon-linux-mint-v0-cdrnxz2y60ld1.png?width=1080&crop=smart&auto=webp&s=ffea184a85faccdfa44e2dc0efd2a8dd80443641");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;
	width: 100%;
}

.hero h1 {
	font-size: 3rem;
}