section.hero {
	background: var(--accent-primary);
	display: flex;
	color: black;
}

.hero .intro {
	flex: 1;
	padding: 20px;
	font-size: 2rem;
	font-family: "Poppins", sans-serif;
}

.hero .intro h1 { font-size: 2.3rem; }
.hero .intro h3 {
	font-size: 1.5rem;
	margin-bottom: 20px;
}
.hero .intro p {
	font-size: 1.2rem;
	margin-bottom: 50px;
}

.actions {
	display: flex;
	gap: 20px;
	width: 100%;
}

.actions button {
	flex: 1;
}

.hero .showcase {
	flex: 1;
}

.showcase img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

header {
	
}